* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-size: 12px;
    line-height: 1.5;
    background: peru;
}

.body_img1{
    background: #cfddef;
    height: 80px;
    img{
        height: 100%;
        margin: 0 auto;
        display: block;
    }
}
// 头部
#head {
    height: 32px;
    background: #f2f2f2;
    border-bottom: 1px solid #e5e5e5;

    .heads {
        width: 1230px;
        height: 32px;
        margin: 0 auto;
        color: #999;
        text-decoration: none;

        .left_box {
            height: 32px;
            line-height: 32px;
            float: left;

            p {
                float: left;
            }

            a {
                color: #999;
                text-decoration: none;
                padding: 0 10px 0 10px;

                &:hover {
                    color: #FF0036;
                }
            }

            .a1 {
                padding-left: 20px;
            }
        }

        >ul {
            float: right;
            height: 32px;
            line-height: 32px;



            .sn_li4 {
                width: 0;
                height: 14px;
                position: relative;
                left: 0;
                top: 9px;
                border-left: 1px solid #ccc;
                margin: 0 2px 0 5px;
            }

            .sn_li5 {
                position: relative;

                &:hover .sn_menu_at {
                    display: block;
                }

                .sn_menu_at {
                    position: absolute;
                    width: 175px;
                    height: 227px;
                    background: #fff;
                    left: -48px;
                    top: 26px;
                    box-shadow: 0 0 5px #aaa;
                    display: none;

                    div {
                        width: 175px;
                        height: 175px;
                        margin: 5px 0 0px;
                        background: url(//img.alicdn.com/tfs/TB1vJ0POwTqK1RjSZPhXXXfOFXa-175-215.png) 0 0 no-repeat;
                    }

                    p {
                        background: url(//img.alicdn.com/tfs/TB1mwQfj7Y2gK0jSZFgXXc5OFXa-145-30.jpg) center bottom no-repeat;
                        text-indent: -9999px;
                        overflow: hidden;
                        margin: 0 15px;
                        line-height: 35px;
                    }

                    i {
                        width: 0;
                        height: 0;
                        line-height: 0;
                        font-size: 0;
                        position: absolute;
                        left: 50%;
                        top: -10px;
                        margin-left: -2px;
                        border-width: 5px;
                        border-style: dashed dashed solid;
                        border-color: transparent transparent #fff;
                    }
                }
            }

            li {
                float: left;

                &:nth-child(3) {
                    padding: 0 10px 0 10px;
                }

                &:nth-child(5) {
                    padding: 0 10px 0 10px;
                }

                &:nth-child(6) {
                    padding: 0 10px 0 10px;
                }

                a {
                    color: #999;

                    &:hover {
                        color: #FF0036;
                    }
                }

                .sn_menu {
                    height: 32px;
                    position: relative;

                    a {
                        height: 32px;
                        display: block;
                        position: relative;
                        padding-right: 14px;
                        border: solid #f2f2f2;
                        border-width: 0 1px;
                        color: #999;

                        &:hover {
                            color: #FF0036;
                            text-decoration: underline;
                        }
                    }

                    b {
                        position: absolute;
                        right: 6px;
                        top: 15px;
                        border-width: 3px;
                        border-style: solid dashed dashed;
                        border-color: #bbb transparent transparent;
                    }

                    .sn_menu_un {
                        position: absolute;
                        top: 33px;
                        border: solid #eee;
                        border-width: 0 1px 1px;
                        display: none;
                        padding: 8px 10px;

                        a {
                            padding: 0;
                        }
                    }

                    .sn_menu_un1 {
                        position: absolute;
                        top: 33px;
                        border: solid #eee;
                        border-width: 0 1px 1px;
                        display: none;
                        width: 122px;
                        overflow: hidden;
                        right: 0;
                        left: auto;
                        padding: 8px 10px;

                        ul {
                            margin-top: -5px;
                            overflow: hidden;
                            height: 159px;
                            width: 122px;

                            .sn_me_li {
                                float: none;
                                padding: 5px 0;
                                height: auto;
                                display: block;
                                line-height: 1.4;
                                border-bottom: 1px dotted #827777;
                                margin-right: -20px;

                                h3 {
                                    color: #666;
                                    font-weight: 700;
                                }

                                a {
                                    display: inline-block;
                                    width: 48px;
                                    margin-right: 20px;
                                    line-height: 22px;
                                }
                            }
                        }

                    }

                    .sn_menu_un2 {
                        width: 1198px;
                        position: absolute;
                        top: 33px;
                        border: solid #eee;
                        border-width: 0 1px 1px;
                        right: 0;
                        left: auto;
                        padding: 25px 0;
                        display: none;

                        .cont1 {
                            float: left;
                            width: 455px;
                            color: #f56a00;

                            li {
                                a {
                                    color: #666;
                                }

                                &:hover a {
                                    color: #f56a00;
                                    text-decoration: underline;
                                }
                            }


                        }

                        .cont2 {
                            float: left;
                            width: 455px;
                            color: #2263d4;
                            border-left: 1px solid #f5f5f5;
                            border-right: 1px solid #f5f5f5;

                            li {
                                a {
                                    color: #666;
                                }

                                &:hover a {
                                    color: #2263d4;
                                    ;
                                    text-decoration: underline;
                                }
                            }

                        }

                        .cont3 {
                            width: 196px;
                            color: #666;
                            float: left;

                            li {
                                a {
                                    color: #666;
                                }

                                &:hover a {
                                    color: #666;
                                    text-decoration: underline;
                                }
                            }
                        }

                        .site-cont {
                            padding-left: 30px;
                            overflow: hidden;
                            height: 135px;


                            h2 {
                                font-size: 16px;
                                padding-bottom: 8px;
                                font-weight: 100;

                                span {
                                    padding-left: 6px;
                                }
                            }

                            .site-list {
                                margin-right: -20px;
                                overflow: hidden;
                                height: 86px;

                                li {
                                    width: 95px;
                                    float: left;
                                    padding: 6px 0;
                                    overflow: hidden;
                                    position: relative;





                                    .sn-sitemap-icon {
                                        position: absolute;
                                        width: 9px;
                                        height: 11px;
                                        line-height: 0;
                                        font-size: 0;
                                        overflow: hidden;

                                        background: url(//img.alicdn.com/tps/i1/TB1gyXLGFXXXXceXVXXCEcU6VXX-439-220.png);
                                        background-position: -37px 0;
                                    }

                                    .icon1 {
                                        top: 1px;
                                        right: 39px;
                                        background-position: -37px -11px;
                                    }

                                    .icon11 {
                                        top: 1px;
                                        right: 61px;
                                        background-position: -37px -11px;
                                    }

                                    .icon2 {
                                        top: 1px;
                                        right: 39px;
                                        background-position: -37px 0;
                                    }

                                    .icon22 {
                                        top: 1px;
                                        right: 61px;
                                        background-position: -37px 0;
                                    }
                                }
                            }
                        }

                        a {
                            padding: 0;
                        }
                    }

                    div {

                        width: 100%;


                        a {
                            line-height: 20px;
                            height: 20px;
                            color: #666;
                            padding: 0;
                            border: 0;

                            &:hover {
                                color: #FF0036;
                                text-decoration: underline;
                            }
                        }
                    }
                }

                &:hover b {
                    transform: rotate(180deg);
                    transition: transform .2s ease-in;
                    transform-origin: 50% 30%;
                }

                &:hover .sn_menu {
                    background: #fff;
                    border-bottom: solid #fff;
                }

                &:hover .sn_menu_un {
                    display: block;
                }

                &:hover .sn_menu_un1 {
                    display: block;
                }

                &:hover .sn_menu_un2 {
                    display: block;
                }
            }
        }

        .sn_li8 {
            width: 74px;
        }

        a {
            text-decoration: none;
            padding: 0 10px 0 10px;
        }



    }
}

