* {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  font-size: 12px;
  line-height: 1.5;
  background: peru;
}
.body_img1 {
  background: #cfddef;
  height: 80px;
}
.body_img1 img {
  height: 100%;
  margin: 0 auto;
  display: block;
}
#head {
  height: 32px;
  background: #f2f2f2;
  border-bottom: 1px solid #e5e5e5;
}
#head .heads {
  width: 1230px;
  height: 32px;
  margin: 0 auto;
  color: #999;
  text-decoration: none;
}
#head .heads .left_box {
  height: 32px;
  line-height: 32px;
  float: left;
}
#head .heads .left_box p {
  float: left;
}
#head .heads .left_box a {
  color: #999;
  text-decoration: none;
  padding: 0 10px 0 10px;
}
#head .heads .left_box a:hover {
  color: #FF0036;
}
#head .heads .left_box .a1 {
  padding-left: 20px;
}
#head .heads > ul {
  float: right;
  height: 32px;
  line-height: 32px;
}
#head .heads > ul .sn_li4 {
  width: 0;
  height: 14px;
  position: relative;
  left: 0;
  top: 9px;
  border-left: 1px solid #ccc;
  margin: 0 2px 0 5px;
}
#head .heads > ul .sn_li5 {
  position: relative;
}
#head .heads > ul .sn_li5:hover .sn_menu_at {
  display: block;
}
#head .heads > ul .sn_li5 .sn_menu_at {
  position: absolute;
  width: 175px;
  height: 227px;
  background: #fff;
  left: -48px;
  top: 26px;
  box-shadow: 0 0 5px #aaa;
  display: none;
}
#head .heads > ul .sn_li5 .sn_menu_at div {
  width: 175px;
  height: 175px;
  margin: 5px 0 0px;
  background: url(//img.alicdn.com/tfs/TB1vJ0POwTqK1RjSZPhXXXfOFXa-175-215.png) 0 0 no-repeat;
}
#head .heads > ul .sn_li5 .sn_menu_at p {
  background: url(//img.alicdn.com/tfs/TB1mwQfj7Y2gK0jSZFgXXc5OFXa-145-30.jpg) center bottom no-repeat;
  text-indent: -9999px;
  overflow: hidden;
  margin: 0 15px;
  line-height: 35px;
}
#head .heads > ul .sn_li5 .sn_menu_at i {
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  position: absolute;
  left: 50%;
  top: -10px;
  margin-left: -2px;
  border-width: 5px;
  border-style: dashed dashed solid;
  border-color: transparent transparent #fff;
}
#head .heads > ul li {
  float: left;
}
#head .heads > ul li:nth-child(3) {
  padding: 0 10px 0 10px;
}
#head .heads > ul li:nth-child(5) {
  padding: 0 10px 0 10px;
}
#head .heads > ul li:nth-child(6) {
  padding: 0 10px 0 10px;
}
#head .heads > ul li a {
  color: #999;
}
#head .heads > ul li a:hover {
  color: #FF0036;
}
#head .heads > ul li .sn_menu {
  height: 32px;
  position: relative;
}
#head .heads > ul li .sn_menu a {
  height: 32px;
  display: block;
  position: relative;
  padding-right: 14px;
  border: solid #f2f2f2;
  border-width: 0 1px;
  color: #999;
}
#head .heads > ul li .sn_menu a:hover {
  color: #FF0036;
  text-decoration: underline;
}
#head .heads > ul li .sn_menu b {
  position: absolute;
  right: 6px;
  top: 15px;
  border-width: 3px;
  border-style: solid dashed dashed;
  border-color: #bbb transparent transparent;
}
#head .heads > ul li .sn_menu .sn_menu_un {
  position: absolute;
  top: 33px;
  border: solid #eee;
  border-width: 0 1px 1px;
  display: none;
  padding: 8px 10px;
}
#head .heads > ul li .sn_menu .sn_menu_un a {
  padding: 0;
}
#head .heads > ul li .sn_menu .sn_menu_un1 {
  position: absolute;
  top: 33px;
  border: solid #eee;
  border-width: 0 1px 1px;
  display: none;
  width: 122px;
  overflow: hidden;
  right: 0;
  left: auto;
  padding: 8px 10px;
}
#head .heads > ul li .sn_menu .sn_menu_un1 ul {
  margin-top: -5px;
  overflow: hidden;
  height: 159px;
  width: 122px;
}
#head .heads > ul li .sn_menu .sn_menu_un1 ul .sn_me_li {
  float: none;
  padding: 5px 0;
  height: auto;
  display: block;
  line-height: 1.4;
  border-bottom: 1px dotted #827777;
  margin-right: -20px;
}
#head .heads > ul li .sn_menu .sn_menu_un1 ul .sn_me_li h3 {
  color: #666;
  font-weight: 700;
}
#head .heads > ul li .sn_menu .sn_menu_un1 ul .sn_me_li a {
  display: inline-block;
  width: 48px;
  margin-right: 20px;
  line-height: 22px;
}
#head .heads > ul li .sn_menu .sn_menu_un2 {
  width: 1198px;
  position: absolute;
  top: 33px;
  border: solid #eee;
  border-width: 0 1px 1px;
  right: 0;
  left: auto;
  padding: 25px 0;
  display: none;
}
#head .heads > ul li .sn_menu .sn_menu_un2 .cont1 {
  float: left;
  width: 455px;
  color: #f56a00;
}
#head .heads > ul li .sn_menu .sn_menu_un2 .cont1 li a {
  color: #666;
}
#head .heads > ul li .sn_menu .sn_menu_un2 .cont1 li:hover a {
  color: #f56a00;
  text-decoration: underline;
}
#head .heads > ul li .sn_menu .sn_menu_un2 .cont2 {
  float: left;
  width: 455px;
  color: #2263d4;
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #f5f5f5;
}
#head .heads > ul li .sn_menu .sn_menu_un2 .cont2 li a {
  color: #666;
}
#head .heads > ul li .sn_menu .sn_menu_un2 .cont2 li:hover a {
  color: #2263d4;
  text-decoration: underline;
}
#head .heads > ul li .sn_menu .sn_menu_un2 .cont3 {
  width: 196px;
  color: #666;
  float: left;
}
#head .heads > ul li .sn_menu .sn_menu_un2 .cont3 li a {
  color: #666;
}
#head .heads > ul li .sn_menu .sn_menu_un2 .cont3 li:hover a {
  color: #666;
  text-decoration: underline;
}
#head .heads > ul li .sn_menu .sn_menu_un2 .site-cont {
  padding-left: 30px;
  overflow: hidden;
  height: 135px;
}
#head .heads > ul li .sn_menu .sn_menu_un2 .site-cont h2 {
  font-size: 16px;
  padding-bottom: 8px;
  font-weight: 100;
}
#head .heads > ul li .sn_menu .sn_menu_un2 .site-cont h2 span {
  padding-left: 6px;
}
#head .heads > ul li .sn_menu .sn_menu_un2 .site-cont .site-list {
  margin-right: -20px;
  overflow: hidden;
  height: 86px;
}
#head .heads > ul li .sn_menu .sn_menu_un2 .site-cont .site-list li {
  width: 95px;
  float: left;
  padding: 6px 0;
  overflow: hidden;
  position: relative;
}
#head .heads > ul li .sn_menu .sn_menu_un2 .site-cont .site-list li .sn-sitemap-icon {
  position: absolute;
  width: 9px;
  height: 11px;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  background: url(//img.alicdn.com/tps/i1/TB1gyXLGFXXXXceXVXXCEcU6VXX-439-220.png);
  background-position: -37px 0;
}
#head .heads > ul li .sn_menu .sn_menu_un2 .site-cont .site-list li .icon1 {
  top: 1px;
  right: 39px;
  background-position: -37px -11px;
}
#head .heads > ul li .sn_menu .sn_menu_un2 .site-cont .site-list li .icon11 {
  top: 1px;
  right: 61px;
  background-position: -37px -11px;
}
#head .heads > ul li .sn_menu .sn_menu_un2 .site-cont .site-list li .icon2 {
  top: 1px;
  right: 39px;
  background-position: -37px 0;
}
#head .heads > ul li .sn_menu .sn_menu_un2 .site-cont .site-list li .icon22 {
  top: 1px;
  right: 61px;
  background-position: -37px 0;
}
#head .heads > ul li .sn_menu .sn_menu_un2 a {
  padding: 0;
}
#head .heads > ul li .sn_menu div {
  width: 100%;
}
#head .heads > ul li .sn_menu div a {
  line-height: 20px;
  height: 20px;
  color: #666;
  padding: 0;
  border: 0;
}
#head .heads > ul li .sn_menu div a:hover {
  color: #FF0036;
  text-decoration: underline;
}
#head .heads > ul li:hover b {
  transform: rotate(180deg);
  transition: transform 0.2s ease-in;
  transform-origin: 50% 30%;
}
#head .heads > ul li:hover .sn_menu {
  background: #fff;
  border-bottom: solid #fff;
}
#head .heads > ul li:hover .sn_menu_un {
  display: block;
}
#head .heads > ul li:hover .sn_menu_un1 {
  display: block;
}
#head .heads > ul li:hover .sn_menu_un2 {
  display: block;
}
#head .heads .sn_li8 {
  width: 74px;
}
#head .heads a {
  text-decoration: none;
  padding: 0 10px 0 10px;
}
