* {
  margin: 0;
  padding: 0;
  list-style: none;
}
html,
body {
  background-color: #f5f5f5;
  font-size: 12px;
  line-height: 1.5;
}
html a,
body a {
  text-decoration: none;
}
html .body_img1,
body .body_img1 {
  background: #cfddef;
  height: 80px;
}
html .body_img1 img,
body .body_img1 img {
  height: 100%;
  margin: 0 auto;
  display: block;
}
html #head,
body #head {
  height: 32px;
  background: #f2f2f2;
  border-bottom: 1px solid #e5e5e5;
}
html #head .heads,
body #head .heads {
  width: 1230px;
  height: 32px;
  margin: 0 auto;
  color: #999;
  text-decoration: none;
}
html #head .heads .left_box,
body #head .heads .left_box {
  height: 32px;
  line-height: 32px;
  float: left;
}
html #head .heads .left_box p,
body #head .heads .left_box p {
  float: left;
}
html #head .heads .left_box a,
body #head .heads .left_box a {
  color: #999;
  text-decoration: none;
  padding: 0 10px 0 10px;
}
html #head .heads .left_box a:hover,
body #head .heads .left_box a:hover {
  color: #FF0036;
}
html #head .heads .left_box .a1,
body #head .heads .left_box .a1 {
  padding-left: 20px;
}
html #head .heads > ul,
body #head .heads > ul {
  float: right;
  height: 32px;
  line-height: 32px;
}
html #head .heads > ul .sn_li4,
body #head .heads > ul .sn_li4 {
  width: 0;
  height: 14px;
  position: relative;
  left: 0;
  top: 9px;
  border-left: 1px solid #ccc;
  margin: 0 2px 0 5px;
}
html #head .heads > ul .sn_li5,
body #head .heads > ul .sn_li5 {
  position: relative;
}
html #head .heads > ul .sn_li5:hover .sn_menu_at,
body #head .heads > ul .sn_li5:hover .sn_menu_at {
  display: block;
}
html #head .heads > ul .sn_li5 .sn_menu_at,
body #head .heads > ul .sn_li5 .sn_menu_at {
  position: absolute;
  width: 175px;
  height: 227px;
  background: #fff;
  left: -48px;
  top: 26px;
  box-shadow: 0 0 5px #aaa;
  z-index: 100;
  display: none;
}
html #head .heads > ul .sn_li5 .sn_menu_at div,
body #head .heads > ul .sn_li5 .sn_menu_at div {
  width: 175px;
  height: 175px;
  margin: 5px 0 0px;
  background: url(//img.alicdn.com/tfs/TB1vJ0POwTqK1RjSZPhXXXfOFXa-175-215.png) 0 0 no-repeat;
}
html #head .heads > ul .sn_li5 .sn_menu_at p,
body #head .heads > ul .sn_li5 .sn_menu_at p {
  background: url(//img.alicdn.com/tfs/TB1mwQfj7Y2gK0jSZFgXXc5OFXa-145-30.jpg) center bottom no-repeat;
  text-indent: -9999px;
  overflow: hidden;
  margin: 0 15px;
  line-height: 35px;
}
html #head .heads > ul .sn_li5 .sn_menu_at i,
body #head .heads > ul .sn_li5 .sn_menu_at i {
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  position: absolute;
  left: 50%;
  top: -10px;
  margin-left: -2px;
  border-width: 5px;
  border-style: dashed dashed solid;
  border-color: transparent transparent #fff;
}
html #head .heads > ul li,
body #head .heads > ul li {
  float: left;
}
html #head .heads > ul li .iconfont,
body #head .heads > ul li .iconfont {
  color: #FF0036;
  font-size: 12px;
}
html #head .heads > ul li:nth-child(2),
body #head .heads > ul li:nth-child(2) {
  padding: 0 10px 0 10px;
}
html #head .heads > ul li:nth-child(5),
body #head .heads > ul li:nth-child(5) {
  padding: 0 10px 0 10px;
}
html #head .heads > ul li:nth-child(6),
body #head .heads > ul li:nth-child(6) {
  padding: 0 10px 0 10px;
}
html #head .heads > ul li > a,
body #head .heads > ul li > a {
  color: #999;
}
html #head .heads > ul li > a:hover,
body #head .heads > ul li > a:hover {
  color: #FF0036;
}
html #head .heads > ul li .sn_menu,
body #head .heads > ul li .sn_menu {
  height: 32px;
  position: relative;
}
html #head .heads > ul li .sn_menu > a,
body #head .heads > ul li .sn_menu > a {
  height: 32px;
  display: block;
  position: relative;
  padding: 0 14px 0 10px;
  border: solid #f2f2f2;
  border-width: 0 1px;
  color: #999;
}
html #head .heads > ul li .sn_menu > a:hover,
body #head .heads > ul li .sn_menu > a:hover {
  color: #FF0036;
  text-decoration: underline;
}
html #head .heads > ul li .sn_menu b,
body #head .heads > ul li .sn_menu b {
  position: absolute;
  right: 6px;
  top: 15px;
  border-width: 3px;
  border-style: solid dashed dashed;
  border-color: #bbb transparent transparent;
}
html #head .heads > ul li .sn_menu .sn_menu_un,
body #head .heads > ul li .sn_menu .sn_menu_un {
  position: absolute;
  top: 33px;
  border: solid #eee;
  border-width: 0 1px 1px;
  display: none;
  padding: 8px 10px;
  z-index: 100;
  background: #fff;
}
html #head .heads > ul li .sn_menu .sn_menu_un a,
body #head .heads > ul li .sn_menu .sn_menu_un a {
  padding: 0;
}
html #head .heads > ul li .sn_menu .sn_menu_un1,
body #head .heads > ul li .sn_menu .sn_menu_un1 {
  position: absolute;
  top: 33px;
  border: solid #eee;
  border-width: 0 1px 1px;
  background: #fff;
  display: none;
  width: 122px;
  overflow: hidden;
  right: 0;
  left: auto;
  padding: 8px 10px;
  z-index: 100;
}
html #head .heads > ul li .sn_menu .sn_menu_un1 ul,
body #head .heads > ul li .sn_menu .sn_menu_un1 ul {
  margin-top: -5px;
  overflow: hidden;
  height: 159px;
  width: 122px;
}
html #head .heads > ul li .sn_menu .sn_menu_un1 ul .sn_me_li,
body #head .heads > ul li .sn_menu .sn_menu_un1 ul .sn_me_li {
  float: none;
  padding: 5px 0;
  height: auto;
  display: block;
  line-height: 1.4;
  border-bottom: 1px dotted #827777;
  margin-right: -20px;
}
html #head .heads > ul li .sn_menu .sn_menu_un1 ul .sn_me_li h3,
body #head .heads > ul li .sn_menu .sn_menu_un1 ul .sn_me_li h3 {
  color: #666;
  font-weight: 700;
}
html #head .heads > ul li .sn_menu .sn_menu_un1 ul .sn_me_li a,
body #head .heads > ul li .sn_menu .sn_menu_un1 ul .sn_me_li a {
  display: inline-block;
  width: 48px;
  margin-right: 20px;
  line-height: 22px;
}
html #head .heads > ul li .sn_menu .sn_menu_un2,
body #head .heads > ul li .sn_menu .sn_menu_un2 {
  width: 1198px;
  position: absolute;
  top: 33px;
  border: solid #eee;
  border-width: 0 1px 1px;
  z-index: 10;
  background: #fff;
  right: 0;
  left: auto;
  padding: 25px 0;
  z-index: 1000;
  display: none;
}
html #head .heads > ul li .sn_menu .sn_menu_un2 .cont1,
body #head .heads > ul li .sn_menu .sn_menu_un2 .cont1 {
  float: left;
  width: 455px;
  color: #f56a00;
}
html #head .heads > ul li .sn_menu .sn_menu_un2 .cont1 li a,
body #head .heads > ul li .sn_menu .sn_menu_un2 .cont1 li a {
  color: #666;
}
html #head .heads > ul li .sn_menu .sn_menu_un2 .cont1 li:hover a,
body #head .heads > ul li .sn_menu .sn_menu_un2 .cont1 li:hover a {
  color: #f56a00;
  text-decoration: underline;
}
html #head .heads > ul li .sn_menu .sn_menu_un2 .cont2,
body #head .heads > ul li .sn_menu .sn_menu_un2 .cont2 {
  float: left;
  width: 455px;
  color: #2263d4;
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #f5f5f5;
}
html #head .heads > ul li .sn_menu .sn_menu_un2 .cont2 li a,
body #head .heads > ul li .sn_menu .sn_menu_un2 .cont2 li a {
  color: #666;
}
html #head .heads > ul li .sn_menu .sn_menu_un2 .cont2 li:hover a,
body #head .heads > ul li .sn_menu .sn_menu_un2 .cont2 li:hover a {
  color: #2263d4;
  text-decoration: underline;
}
html #head .heads > ul li .sn_menu .sn_menu_un2 .cont3,
body #head .heads > ul li .sn_menu .sn_menu_un2 .cont3 {
  width: 196px;
  color: #666;
  float: left;
}
html #head .heads > ul li .sn_menu .sn_menu_un2 .cont3 li a,
body #head .heads > ul li .sn_menu .sn_menu_un2 .cont3 li a {
  color: #666;
}
html #head .heads > ul li .sn_menu .sn_menu_un2 .cont3 li:hover a,
body #head .heads > ul li .sn_menu .sn_menu_un2 .cont3 li:hover a {
  color: #666;
  text-decoration: underline;
}
html #head .heads > ul li .sn_menu .sn_menu_un2 .site-cont,
body #head .heads > ul li .sn_menu .sn_menu_un2 .site-cont {
  padding-left: 30px;
  overflow: hidden;
  height: 135px;
}
html #head .heads > ul li .sn_menu .sn_menu_un2 .site-cont h2,
body #head .heads > ul li .sn_menu .sn_menu_un2 .site-cont h2 {
  font-size: 16px;
  padding-bottom: 8px;
  font-weight: 100;
}
html #head .heads > ul li .sn_menu .sn_menu_un2 .site-cont h2 span,
body #head .heads > ul li .sn_menu .sn_menu_un2 .site-cont h2 span {
  padding-left: 6px;
}
html #head .heads > ul li .sn_menu .sn_menu_un2 .site-cont .site-list,
body #head .heads > ul li .sn_menu .sn_menu_un2 .site-cont .site-list {
  margin-right: -20px;
  overflow: hidden;
  height: 86px;
}
html #head .heads > ul li .sn_menu .sn_menu_un2 .site-cont .site-list li,
body #head .heads > ul li .sn_menu .sn_menu_un2 .site-cont .site-list li {
  width: 95px;
  float: left;
  padding: 6px 0;
  overflow: hidden;
  position: relative;
}
html #head .heads > ul li .sn_menu .sn_menu_un2 .site-cont .site-list li .sn-sitemap-icon,
body #head .heads > ul li .sn_menu .sn_menu_un2 .site-cont .site-list li .sn-sitemap-icon {
  position: absolute;
  width: 9px;
  height: 11px;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  background: url(//img.alicdn.com/tps/i1/TB1gyXLGFXXXXceXVXXCEcU6VXX-439-220.png);
  background-position: -37px 0;
}
html #head .heads > ul li .sn_menu .sn_menu_un2 .site-cont .site-list li .icon1,
body #head .heads > ul li .sn_menu .sn_menu_un2 .site-cont .site-list li .icon1 {
  top: 1px;
  right: 39px;
  background-position: -37px -11px;
}
html #head .heads > ul li .sn_menu .sn_menu_un2 .site-cont .site-list li .icon11,
body #head .heads > ul li .sn_menu .sn_menu_un2 .site-cont .site-list li .icon11 {
  top: 1px;
  right: 61px;
  background-position: -37px -11px;
}
html #head .heads > ul li .sn_menu .sn_menu_un2 .site-cont .site-list li .icon2,
body #head .heads > ul li .sn_menu .sn_menu_un2 .site-cont .site-list li .icon2 {
  top: 1px;
  right: 39px;
  background-position: -37px 0;
}
html #head .heads > ul li .sn_menu .sn_menu_un2 .site-cont .site-list li .icon22,
body #head .heads > ul li .sn_menu .sn_menu_un2 .site-cont .site-list li .icon22 {
  top: 1px;
  right: 61px;
  background-position: -37px 0;
}
html #head .heads > ul li .sn_menu .sn_menu_un2 a,
body #head .heads > ul li .sn_menu .sn_menu_un2 a {
  padding: 0;
}
html #head .heads > ul li .sn_menu div,
body #head .heads > ul li .sn_menu div {
  width: 100%;
}
html #head .heads > ul li .sn_menu div a,
body #head .heads > ul li .sn_menu div a {
  line-height: 20px;
  height: 20px;
  color: #666;
  padding: 0;
  border: 0;
}
html #head .heads > ul li .sn_menu div a:hover,
body #head .heads > ul li .sn_menu div a:hover {
  color: #FF0036;
  text-decoration: underline;
}
html #head .heads > ul li:hover b,
body #head .heads > ul li:hover b {
  transform: rotate(180deg);
  transition: transform 0.2s ease-in;
  transform-origin: 50% 30%;
}
html #head .heads > ul li:hover .sn_menu,
body #head .heads > ul li:hover .sn_menu {
  background: #fff;
  border-bottom: solid #fff;
}
html #head .heads > ul li:hover .sn_menu_un,
body #head .heads > ul li:hover .sn_menu_un {
  display: block;
}
html #head .heads > ul li:hover .sn_menu_un1,
body #head .heads > ul li:hover .sn_menu_un1 {
  display: block;
}
html #head .heads > ul li:hover .sn_menu_un2,
body #head .heads > ul li:hover .sn_menu_un2 {
  display: block;
}
html #head .heads .sn_li8 .sn_menu,
body #head .heads .sn_li8 .sn_menu {
  width: 65px;
  padding: 0 14px 0 10px;
}
html #head .heads > a,
body #head .heads > a {
  text-decoration: none;
  padding: 0 10px 0 10px;
}
html #seek,
body #seek {
  margin-bottom: 0;
  min-width: 990px;
  background: #fff;
  height: 130px;
  margin-top: 0 !important;
}
html #seek > div,
body #seek > div {
  padding-top: 0 !important;
  width: 1230px;
  position: relative;
  margin: auto;
}
html #seek > div .img,
body #seek > div .img {
  position: absolute;
  left: -60px;
}
html #seek > div .right,
body #seek > div .right {
  float: right;
  height: 70px;
  padding: 2px 0 0 102.5px;
  width: 200px;
}
html #seek > div .seek_1,
body #seek > div .seek_1 {
  width: 625px;
  padding-top: 38px;
  float: right;
  overflow: hidden;
}
html #seek > div .seek_1 .seek_1_1,
body #seek > div .seek_1 .seek_1_1 {
  border: solid #FF0036;
  border-width: 2px 0 2px 2px;
  position: relative;
  height: 36px;
}
html #seek > div .seek_1 .seek_1_1 > div,
body #seek > div .seek_1 .seek_1_1 > div {
  /* label {
                            font-size: 14px;
                            line-height: 36px;
                            height: 36px;
                            color: rgb(102, 102, 102);
                            visibility: visible;
                            position: absolute;
                            left: 8px;
                            top: 0;
                            z-index: 1;
                        } */
}
html #seek > div .seek_1 .seek_1_1 > div input,
body #seek > div .seek_1 .seek_1_1 > div input {
  height: 36px;
  width: 491px;
  font: 16px/22px arial;
  box-sizing: border-box;
  background: 0 0;
  padding: 5px 3px 5px 5px;
  border: none;
  outline: none;
}
html #seek > div .seek_1 .seek_1_1 > button,
body #seek > div .seek_1 .seek_1_1 > button {
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  letter-spacing: 4px;
  cursor: pointer;
  color: #fff;
  background-color: #FF0036;
  overflow: hidden;
  font-family: '\5FAE\8F6F\96C5\9ED1', arial, "\5b8b\4f53";
  width: 132px;
  height: 36px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 5px;
}
html #seek > div .seek_1 > ul,
body #seek > div .seek_1 > ul {
  height: 24px;
  font-size: 14px;
  padding: 4px 0 0;
  margin-left: -13px;
  overflow: hidden;
  width: 100%;
}
html #seek > div .seek_1 > ul li,
body #seek > div .seek_1 > ul li {
  display: inline-block;
  border-left: 1px solid #ccc;
  line-height: 1.1;
  padding: 0 12px;
}
html #seek > div .seek_1 > ul li a,
body #seek > div .seek_1 > ul li a {
  color: #999;
}
html #seek > div .seek_1 .lis a,
body #seek > div .seek_1 .lis a {
  color: #FF0036;
}
html #content,
body #content {
  position: relative;
  background: #fff;
  color: #999;
  font-size: 12px;
}
html #content .head,
body #content .head {
  position: relative;
  font-size: 0;
  padding-top: 0;
  height: 35.5px;
  background-color: #fff;
  border-style: solid;
  border-width: 0 0 1.5px;
  border-color: #FF0036;
}
html #content .head > div,
body #content .head > div {
  width: 1230px;
  margin: 0 auto;
  padding-right: 30px;
}
html #content .head > div .icon_icon,
body #content .head > div .icon_icon {
  margin-left: 200px;
  width: 1030px;
}
html #content .head > div .icon_icon a,
body #content .head > div .icon_icon a {
  height: 35px;
  line-height: 35px;
  cursor: pointer;
  float: left;
  padding: 0 8px;
  font-weight: 500;
  font-size: 16px;
  display: block;
  color: #333;
  letter-spacing: normal;
  position: relative;
}
html #content .head > div .icon_icon a > img,
body #content .head > div .icon_icon a > img {
  width: 100px;
  height: 30px;
  margin-top: 3px;
  display: block;
}
html #content .head > div .icon_icon a:hover,
body #content .head > div .icon_icon a:hover {
  color: #FF0036;
}
html #content .button,
body #content .button {
  position: relative;
  height: 500px;
  width: 100%;
}
html #content .button .left,
body #content .button .left {
  width: 1230px;
  padding-right: 30px;
  position: relative;
  height: 0;
  z-index: 100;
  margin: 0 auto;
}
html #content .button .left > ul,
body #content .button .left > ul {
  position: absolute;
  z-index: 100;
  margin-top: -36px;
  height: 36px;
  width: 200px;
  color: #fff;
  line-height: 36px;
}
html #content .button .left > ul .left_1,
body #content .button .left > ul .left_1 {
  float: left;
  width: 100px;
  text-align: center;
  font-size: 14px;
  color: #f0f0f0;
  cursor: pointer;
  background-color: #C60A0A;
}
html #content .button .left > ul .sing1,
body #content .button .left > ul .sing1 {
  color: #DD2727;
  background-color: rgba(238, 238, 238, 0.95);
}
html #content .button .left > ul .left_2,
body #content .button .left > ul .left_2 {
  position: relative;
  color: #ffe013;
}
html #content .button .left > ul .sing2,
body #content .button .left > ul .sing2 {
  color: #fff;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACAQMAAABIeJ9nAAAAA1BMVEUYFRXvJ83tAAAAAXRSTlPM0jRW/QAAAApJREFUCNdjAAIAAAQAASDSLW8AAAAASUVORK5CYII=);
}
html #content .button .left .leftT .box_1-1 > ul,
body #content .button .left .leftT .box_1-1 > ul {
  background-color: rgba(0, 0, 0, 0.55);
  width: 200px;
  height: 500px;
  position: relative;
  z-index: 11;
}
html #content .button .left .leftT .box_1-1 > ul li,
body #content .button .left .leftT .box_1-1 > ul li {
  position: relative;
  height: 31.2px;
  line-height: 31.2px;
  color: #fff;
  font-size: 14px;
}
html #content .button .left .leftT .box_1-1 > ul li > i,
body #content .button .left .leftT .box_1-1 > ul li > i {
  margin-left: 14px;
  margin-right: 4px;
  height: 31px;
  line-height: 31px;
  font-size: 16px;
  display: inline-block;
  opacity: 0.5;
}
html #content .button .left .leftT .box_1-1 > ul li a,
body #content .button .left .leftT .box_1-1 > ul li a {
  height: 31px;
  color: #fff;
  font-size: 14px;
}
html #content .button .left .leftT .box_1-2 > ul,
body #content .button .left .leftT .box_1-2 > ul {
  position: relative;
  padding-top: 29px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACAQMAAABIeJ9nAAAAA1BMVEUYFRXvJ83tAAAAAXRSTlPM0jRW/QAAAApJREFUCNdjAAIAAAQAASDSLW8AAAAASUVORK5CYII=);
  width: 200px;
  height: 500px;
  z-index: 11;
  box-sizing: border-box;
}
html #content .button .left .leftT .box_1-2 > ul li,
body #content .button .left .leftT .box_1-2 > ul li {
  width: 200px;
  padding: 0 24px;
  margin-bottom: 14px;
  position: relative;
  height: 31.2px;
  line-height: 31.2px;
  color: #fff;
  font-size: 14px;
}
html #content .button .left .leftT .box_1-2 > ul li > a,
body #content .button .left .leftT .box_1-2 > ul li > a {
  display: block;
  width: 106px;
  height: 31px;
  border: 1px solid #cb0c10;
  border-radius: 10px;
  color: #fff;
  text-align: left;
  padding-left: 34px;
  padding-right: 10px;
  line-height: 29px;
}
html #content .button .left .leftT .box_1-2 > ul li > a > i,
body #content .button .left .leftT .box_1-2 > ul li > a > i {
  margin-left: 0;
  width: 16px;
  line-height: 29px;
  display: inline-block;
  margin-right: 4px;
  height: 31px;
  font-size: 16px;
}
